/* angular basics */
[ng-click], [ui-sref] {
    cursor: pointer;
}
/* ... angular basics */

/* angular-bootstap-ui datepicker */
.dropdown-menu[datepicker-popup-wrap] {
    padding:0;
}

[datepicker] {
    table thead > tr + tr {
        display: none;
    }
    .btn {
        width: 100%;
        &:not(.btn-info) {
            background-color: white;
        }
    }
}

input[datepicker-popup] {
    /* background-image: url(fa-calendar.png); */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAAoElEQVQ4je3SMQrCQBQE0KdYCLmDlWcQCwsFC/UK3kUSz2XhdbQOaKdFvhpiEkVSOjAwf9id5Q9Lx5jijBMmX/h6lYAdhqGv2H/wn9ggxw1p8FZh2c+xgn4ETJCEHgerKPtJrGVQc3Bb4zX6/ZLOFJ0sgm06qwv4CeUVloqmRzGvWvQMh2rAQdHyPOZji04fl/4rvLDBxfv3beIF605evgOzkDJHKweFswAAAABJRU5ErkJggg==) no-repeat 93% center;
    padding-right: 23%;
}
/* ... angular-bootstap-ui datepicker */

/* loading bar */

#loading-bar {
    position: absolute;
    height: 8px;
    top: 0;
    background: #eeeae3;
    z-index: 1999;
    width: 100%;
    .bar {
        height: 8px !important;
        background: #00a4e3;
    }
}


/* ... loading bar */