@import "fonts";
@import "colors";

#impersonation_banner {
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    right: 0;
    background: #ffbab2;
    text-align: center;
    line-height: 2em;
    overflow: hidden;
    @include fontSizeAndWeight(12px, bold);
    @include box-shadow(0 0 5px black);
    
    & a.stop {
        @include fontSizeAndWeight(11px);
        text-decoration: none;
        margin-left: 2px;
        &:hover {
            color: $color-blue;
        }
        &:after {
            @include fa-icon();
            content: $fa-var-times-circle;
            font-size: 15px;
            margin-left: 3px;
            position: relative;
            top: 2px;
        }
    }
}

.environment-banner {
  width: 200px;
  background: $color-secondary-green;
  position: fixed;
  top: 25px;
  right: -50px;
  z-index: 1002;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}