// Include this file to get at the breakpoints mixin

@import "variables";

$breakpoints: (
  "sm": $screen-sm-min,
  "md": $screen-md-min,
  "lg": $screen-lg-min
);

@mixin breakpoint($point) {
  @each $name, $min-width in $breakpoints {
    @if ($name == $point) {
      @media (min-width: #{$min-width}) { @content }
    }
  }
}

