@import "type_sizes";
@import "colors";

@mixin fontSizeAndWeight($size, $weight: 0) {
  @include fontSize($size);
  @if ($weight or $size <= 14) {
    @if ($size <= 14 or $weight == bold or ($weight != normal and $weight > 500)) {
      $weight: 500;
    }
    font-weight: $weight;
  }
}

// https://github.com/stubbornella/oocss/blob/master/oocss/src/components/utils/_fontSize.scss
// Function for converting a px based font-size to rem.
@function calculateRem($size) {
  $remSize: $size / $base-font-size;
  // Default font size on html element is 100%, equivalent to 16px;
  @return #{$remSize}rem;
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fontSize($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin lineHeight($size) {
  line-height: $size;
  line-height: calculateRem($size);
}

@mixin type-1 {
  font-family: $font_light;
  font-style: normal;
  @include fontSizeAndWeight($type-XXL, 800);
  @include lineHeight($type-XXL);
  letter-spacing: 0.05rem;
  padding: 0;
}

@mixin type-2 {
  font-family: $font_light;
  font-style: normal;
  @include fontSizeAndWeight($type-XL, bold);
  @include lineHeight($type-XL);
  letter-spacing: 0.008rem;
  padding: 0;
}

@mixin type-3 {
  font-family: $font_light;
  font-style: normal;
  @include fontSizeAndWeight($type-L, bold);
  @include lineHeight($type-L);
  letter-spacing: 0.05rem;
  padding: 0;
}

@mixin type-4 {
  font-family: $font_light;
  font-style: normal;
  @include fontSizeAndWeight($type-M, bold);
  @include lineHeight($type-M);
  letter-spacing: 0.008rem;
  padding: 0;
}

@mixin type-5 {
  font-family: $font_regular;
  font-style: italic;
  @include fontSizeAndWeight($type-M, normal);
  @include lineHeight($type-M);
  letter-spacing: 0.008rem;
  padding: 0;
}

@mixin type-6 {
  font-family: $font_regular;
  font-style: normal;
  @include fontSizeAndWeight($type-S, bold);
  @include lineHeight($type-S);
  letter-spacing: 0.008rem;
  padding: 0;
}

@mixin type-small {
  font-family: $font_regular;
  @include fontSizeAndWeight($type-S);
  @include lineHeight(17px);
  margin: 0;
}

@mixin type-body() {
  font-family: $font_regular;
  @include fontSizeAndWeight($type-M);
  @include lineHeight(20px);
  padding: 0;
  margin: 0 0 calculateRem(16px);
}

@mixin type-xsmall {
  font-family: $font_regular;
  @include fontSizeAndWeight($type-XS);
  @include lineHeight(18px);
  letter-spacing: 0.008rem;
  margin: 0;
}

@mixin type-label() {
  font-family: $font_light;
  font-style: normal;
  @include fontSizeAndWeight($type-S, 800);
  @include lineHeight($type-S);
  letter-spacing: 0.008rem;
  margin: 0;
  padding: calculateRem(10px) 0;
}

@mixin sub-section-title() {
  margin-bottom: 0;
  font-family: $font_light;
  @include fontSizeAndWeight($type-S + 1, 600);
  letter-spacing: 0.05em;
  color: $color_gray-5;
}

.body-header {
  @include fontSizeAndWeight($type-L);
  margin-bottom: 10px;
  color: $color_gray-6;
}
