.type-XXL {
  font-family: "Agenda-Light", Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 40px;
  line-height: 2.5rem;
  margin: 0 0 15px; }

.type-XL {
  font-family: "Agenda-Light", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 27px;
  line-height: 1.6875rem;
  margin: 0 0 12px; }

.type-L {
  font-family: "Agenda-Light", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin: 0 0 10px; }

.type-M {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 21px;
  line-height: 1.3125rem;
  margin: 0 0 8px; }

.type-S {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 16px;
  line-height: 1rem;
  margin: 0 0 6px; }

.type-XS {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 14px;
  line-height: 0.875rem; }

.body-header {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 10px;
  color: #444444; }

section {
  clear: both;
  margin: 90px 0;
  padding: 1rem 0;
  border-bottom: 1px solid #E2E2E2; }
  section.l-top {
    margin-top: 5px; }

.intro-text {
  min-width: 300px; }

.project-examples {
  min-width: 250px; }

.l-box {
  margin-bottom: 1.5rem; }

.t-box-frame {
  border-bottom: 1px solid #E2E2E2; }

.figure {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 21px;
  line-height: 1.3125rem;
  margin: 0 0 8px;
  margin-bottom: 45px;
  padding-top: 80px;
  text-transform: uppercase;
  color: #F05A21;
  border-bottom: 1px solid #E2E2E2;
  clear: both; }

h3.figure {
  margin: -8px -8px 12px -8px;
  padding: 8px;
  color: #000;
  background-color: #E2E2E2;
  clear: both; }

ul.figure {
  float: right;
  padding: 2px 0 8px 0px; }

ul.figure li a {
  color: #134f8f !important; }

.l-dropdown {
  position: relative;
  display: block;
  top: auto;
  left: auto;
  margin-bottom: 1rem; }

.l-main .l-nav {
  display: block; }

.l-canvas .l-leftoffcanvas {
  left: 0; }

.js [role="navigation"] {
  top: 0;
  position: static; }

.t-box {
  border: 1px solid #d2d2d2;
  padding: 8px;
  margin-bottom: 16px; }
  .t-box:after {
    float: none;
    clear: both;
    content: " ";
    display: table; }

.l-box-iconography p span {
  display: inline-block;
  border: 1px solid #F4F4F2;
  height: 40px;
  width: 40px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding-top: 10px; }
  .l-box-iconography p span:before {
    color: #444444 !important;
    font-size: 20px;
    padding: 10px; }

.l-color-group {
  margin-bottom: 2rem; }

.t-box-color-swatch {
  position: relative;
  min-width: 145px;
  min-height: 25px;
  padding: 5px;
  color: #444444; }
  .t-box-color-swatch.primary {
    min-height: 50px;
    color: #fff; }
  .t-box-color-swatch .name {
    width: 100%;
    text-align: left; }
  .t-box-color-swatch .code {
    margin: 0;
    text-align: right; }
  .t-box-color-swatch.blue-1 {
    background-color: #ABEAFF; }
  .t-box-color-swatch.blue-2 {
    background-color: #00A4E3; }
  .t-box-color-swatch.pink {
    background-color: #EC1163; }
  .t-box-color-swatch.red-1 {
    background-color: #F2DEDE; }
  .t-box-color-swatch.red-2 {
    background-color: #D2222A; }
  .t-box-color-swatch.orange {
    background-color: #F05A21; }
  .t-box-color-swatch.purple {
    background-color: #9A3993; }
  .t-box-color-swatch.yellow-1 {
    background-color: #FFE194; }
  .t-box-color-swatch.yellow-2 {
    background-color: #FFC50A; }
  .t-box-color-swatch.yellow-3 {
    background-color: #FFF100;
    color: #444444; }
  .t-box-color-swatch.green-1 {
    background-color: #EAF9D4; }
  .t-box-color-swatch.green-2 {
    background-color: #C6E8CA; }
  .t-box-color-swatch.green-3 {
    background-color: #88BA3A; }
  .t-box-color-swatch.green-4 {
    background-color: #39B549; }
  .t-box-color-swatch.white {
    background-color: #fff;
    border: 1px solid #666666; }
  .t-box-color-swatch.gray-1 {
    background-color: #F4F4F2; }
  .t-box-color-swatch.gray-2 {
    background-color: #E2E2E2; }
  .t-box-color-swatch.gray-3 {
    background-color: #CCCCCC; }
  .t-box-color-swatch.gray-4 {
    background-color: #999999;
    color: #fff; }
  .t-box-color-swatch.gray-5 {
    background-color: #666666;
    color: #fff; }
  .t-box-color-swatch.gray-6 {
    background-color: #444444;
    color: #fff; }
  .t-box-color-swatch.tan_gray-1 {
    background-color: #EEEAE3; }
  .t-box-color-swatch.tan_gray-2 {
    background-color: #DBD9D1; }
  .t-box-color-swatch.tan_gray-3 {
    background-color: #97958C; }

/*# sourceMappingURL=library.css.map */
