<h1>NCARB Design Library</h1> <div class="flex-container flex-md-2 flex-sm-gutters"> <div class="flex-item intro-text"> <p> Welcome to NCARB’s Design Library Sample. It is a collection of UI elements and style guidelines that can be used across different properties to ensure a cohesive design. This Design Library Sample is made up of seven pillars: a fluid grid-based layout system, color, typography & iconography, form ele- ments, navigation, and content. </p> <!-- <nav class="inline-nav" role="navigation" tabindex="10">
      <a href="#layout">Layout</a>
      <a href="#color">Color</a>
      <a href="#typography">Typography</a>
      <a href="#iconography">Iconography</a>
      <a href="#form_elements">Form Elements</a>
      <a href="#navigation">Navigation</a>
      <a href="#content">Content</a>
    </nav> --> </div> <span class="flex-item project-examples"> <img src="images/ncarb-projects.25a43b05.png" alt="Project examples"> </span> </div> 