<div class="nav nav-tabs-01">
  <div data-object="drawer" data-state="is-closed">
    <a href="#nav-tabs-01-item1" class="drawer-toggle t-drawer-toggle t-drawer-face" data-behavior="accordion">
      Item 1
    </a>
    <div class="drawer t-drawer">
      <ul class="drawer-list">
        <li>Contents</li>
        <li>More contents</li>
      </ul>
    </div>
  </div>
  <div data-object="drawer" data-state="is-closed">
    <a href="#nav-tabs-01-item2" class="drawer-toggle t-drawer-toggle t-drawer-face" data-behavior="accordion">
      Item 2
    </a>
    <div class="drawer t-drawer">
      <ul class="drawer-list">
        <li>These Contents</li>
        <li>Yet More contents</li>
      </ul>
    </div>
  </div>
</div>