// Nav - Menu v01 (nav-menu-01)
@import "base/functions";
@import "base/breakpoints";
@import "base/colors";
@import "base/type_sizes";
@import "base/type_mixins";

.l-nav.nav-menu-01 {
  background-color: $color_blue;

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  > ul > li {
    position: relative;
    border-bottom: 1px solid rgba(255,255,255, .4);
  }

  .js & {
    @include position(absolute, 0px 0 0px -16em);
    width: 16em;
    z-index: 0;
    box-shadow: -7px 0 15px -7px rgba(0,0,0,.25) inset;
  }


  .level-one {
    position: relative;
    display: block;
    text-decoration: none;
    color: $color-white;
    line-height: $base-line-height;
    padding: 13px 10px 12px 45px;
    font-weight: bold;
    font-size: $type-M;
  }

  a.level-one:hover {
    color: $color_white;
    background-color: darken($color-blue, 10%);
    text-decoration: none;
  }

  @include breakpoint(MML) {
    border-top: 0;
    background-color: transparent;

    > ul:before,
    > ul:after {
      content: "";
      display: table;
    }

    > ul:after {
      clear: both;
    }

    > ul {
      width: auto;
      margin: 0 20px;
      zoom: 1;
    }

    > ul > li {
      float: left;
      width: 25%;

      .lt-ie8 & {
        width: 24%;
      }
    }

    .js & .other {
      display: none;
    }

    .js & {
      width: 100%;
      position: static;
      box-shadow: none;
    }

    .level-one {
      padding: 12px 8px;
      @include fontSize($type-M + 1px);
      font-family: $font_light;
      font-weight: normal;
      text-align: center;
      border: 0;
      border-top: 1px solid $color-gray-3;
      color: $color-gray-5;
      text-transform: none;
    }

    a.level-one:hover {
      background-color: transparent;
      color: $color-black;
    }
  }

  @include breakpoint(L) {
    > ul {
      display: table;
      width: auto;
      margin-left: 10px;
      margin-right: 5px;
    }

    > ul > li {
      display: table-cell;
      width: auto;
      float: none;

      .lt-ie8 & {
        display: block;
        float: left;
        width: 120px;
      }
    }

    .level-one {
      padding-right: 5px;
      font-size: $type-M;
      font-weight: normal;
      text-transform: none;
      text-align: left;
      border: 0;

      &:hover:before {
          content: '';
          @include position(absolute, -2px 14px 0 8px);
          height: 6px;
          background-color: $color-blue;
      }
    }
  }
}
