<nav class="nav nav-menu-01" id="nav" role="navigation">
  <ul>
    <li>
      <a href="#link" class="level-one">NCARB Home</a>
      <span class="level-two_toggle"></span>
    </li>
    <li>
      <a href="/en/Becoming-an-Architect/" class="level-one">Becoming an Architect</a>
      <button class="level-two_toggle">Show Subnav</button>
      <ul class="level-two">
        <li><a href="/Studying-Architecture/Overview-Of-Architectural-Education.aspx">Overview of Architectural Education</a></li>
        <li><a href="/Studying-Architecture/Meeting-NCARB-Education-Requirements.aspx">Education Requirements</a></li>
        <li><a href="/Studying-Architecture/Difference-Between-NAAB-Accredited-And-Non.aspx">Accredited and Non-Accredited Programs</a></li>
        <li><a href="/Studying-Architecture/NCARB-Award.aspx">NCARB Award</a></li>
        <li><a href="/Certification-and-Reciprocity/EESA.aspx">EESA</a></li>
      </ul>
    </li>
    <li>
      <a href="/Studying-Architecture.aspx" class="level-one">Studying Architecture</a>
      <button class="level-two_toggle">Show Subnav</button>
      <ul class="level-two">
        <li><a href="/Becoming-an-Architect/Architecture-Basics.aspx">The Basics</a></li>
        <li><a href="/Becoming-an-Architect/Overview-of-the-Profession.aspx">The Profession</a></li>
        <li><a href="/Becoming-an-Architect/Destination-Architect.aspx">Destination: Architect</a></li>
        <li><a href="/Becoming-an-Architect/Change-the-World.aspx">Licensure Matters</a></li>
        <li><a href="/Becoming-an-Architect/Careers-in-Architecture.aspx">Careers in Architecture</a></li>
        <li><a href="/Becoming-an-Architect/What-Its-Like.aspx">What it's like to work as an Architect</a></li>
      </ul>
    </li>
    <li>
      <a href="/Experience-Through-Internships.aspx" class="level-one">Experience Through Internships</a>
      <button class="level-two_toggle">Show Subnav</button>
      <ul class="level-two">
        <li><a href="/Experience-Through-Internships/IDP-2.aspx">Overview</a></li>
        <li><a href="/Experience-Through-Internships/IDP2-Experience-Categories-Areas.aspx">NCARB Experience Requirements</a></li>
        <li><a href="/Experience-Through-Internships/IDP2-Experience-Settings.aspx">Experience Settings</a></li>
        <li><a href="/Experience-Through-Internships/Getting-Started.aspx">Getting Started</a></li>
        <li><a href="/Experience-Through-Internships/Maintaining-Participation.aspx">Maintaining Participation</a></li>
        <li><a href="/Experience-Through-Internships/Resources-for-Interns.aspx">Resources for Interns</a></li>
        <li><a href="/Experience-Through-Internships/Supervisors-and-Mentors.aspx">Supervisors and Mentors</a></li>
        <li><a href="/Experience-Through-Internships/IDP-Coordinators.aspx">IDP Coordinators</a></li>
        <li><a href="/Experience-Through-Internships/Intern-Think-Tank.aspx">Intern Think Tank</a></li>
      </ul>
    </li>
    <li>
      <a href="/ARE.aspx" class="level-one">Architect Registration Examination (ARE)</a>
      <button class="level-two_toggle">Show Subnav</button>
      <ul class="level-two">
        <li><a href="/ARE/ARE-Overview.aspx">Overview</a></li>
        <li><a href="/ARE/Getting-Started-With-the-ARE.aspx">Getting Started With the ARE</a></li>
        <li><a href="/ARE/Preparing-for-the-ARE.aspx">Preparing for the ARE</a></li>
        <li><a href="/ARE/Taking-the-ARE.aspx">Taking the ARE</a></li>
        <li><a href="/ARE/ARE-Pass-Rates.aspx">Pass Rates</a></li>
        <li><a href="http://www.ncarb.org/Publications/List.aspx?t=are-e-news">ARE e-News</a></li>
        <li><a href="/ARE/ARE-Portal.aspx">2013 New <br> ARE Systems</a></li>
      </ul>
    </li>
    <li>
      <a href="/Getting-an-Initial-License.aspx" class="level-one">Getting an Initial License</a>
      <button class="level-two_toggle">Show Subnav</button>
      <ul class="level-two">
        <li><a href="/Getting-an-Initial-License/Registration-Board-Requirements.aspx">Registration Board Licensing Requirements</a></li>
        <li><a href="/Getting-an-Initial-License/Foreign-Architects.aspx">Foreign Architects</a></li>
        <li><a href="/Certification-and-Reciprocity/EESA.aspx">EESA</a></li>
        <li><a href="/Getting-an-Initial-License/My-NCARB.aspx">My NCARB</a></li>
        <li><a href="/Getting-an-Initial-License/NCARB-Fees.aspx">NCARB Fees</a></li>
      </ul>
    </li>
    <li>
      <a href="/Certification-and-Reciprocity.aspx" class="level-one">Certification & Reciprocity</a>
      <button class="level-two_toggle">Show Subnav</button>
      <ul class="level-two">
        <li><a href="/Certification-and-Reciprocity/Certification-Overview.aspx">Certification Overview</a></li>
        <li><a href="/Certification-and-Reciprocity/Value-of-an-NCARB-Certificate.aspx">Value of an NCARB Certificate</a></li>
        <li><a href="/Certification-and-Reciprocity/Standard-Path-to-Certification.aspx">Standard Path </a></li>
        <li><a href="/Certification-and-Reciprocity/Alternate-Paths-to-Certification.aspx">Alternate Paths</a></li>
        <li><a href="/Certification-and-Reciprocity/Reciprocity-Overview.aspx">Reciprocity Overview</a></li>
        <li><a href="/Certification-and-Reciprocity/International-Programs.aspx">International Practice</a></li>
        <li><a href="/Certification-and-Reciprocity/EESA.aspx">EESA</a></li>
      </ul>
    </li>
    <li>
      <a href="/Continuing-Education.aspx" class="level-one">Continuing Education</a>
      <button class="level-two_toggle">Show Subnav</button>
      <ul class="level-two">
        <li><a href="/Continuing-Education/Continuing-Education-Overview.aspx">Overview</a></li>
        <li><a href="/Continuing-Education/Continuing-Education-Requirements-by-State.aspx">Continuing Education Requirements</a></li>
        <li><a href="/Continuing-Education/Value-of-NCARB-Monographs.aspx">Value of NCARB Monographs</a></li>
        <li><a href="http://www.ncarb.org/Publications/List.aspx?t=Monographs">NCARB Monograph Series</a></li>
        <li><a href="http://www.ncarb.org/Publications/List.aspx?t=Mini-Monographs">Mini Monographs</a></li>
      </ul>
    </li>
  </ul>
  <ul class="other">
    <li>
      <div class="level-one">Program & Tools</div>
      <button class="level-two_toggle">Show Subnav</button>
      <ul class="level-two">
        <li><a href="#link">IDP</a></li>
        <li><a href="#link">ARE</a></li>
        <li><a href="#link">Online Reporting System</a></li>
        <li><a href="#link">BEA and BEFA Programs</a></li>
        <li><a href="#link">Registration Board Requirements</a></li>
        <li><a href="#link">International Practice</a></li>
      </ul>
    </li>
    <li>
      <div class="level-one">More from NCARB</div>
      <button class="level-two_toggle">Show Subnav</button>
      <ul class="level-two">
        <li><a href="#link">NCARB Award</a></li>
        <li><a href="#link">Publications & Resources</a></li>
        <li><a href="#link">NCARB Fees</a></li>
        <li><a href="#link">About NCARB</a></li>
      </ul>
    </li>
  </ul>
</nav>
