// Message

@mixin messageColors($text, $background, $border, $close) {
  border-color: $border;
  background-color: tint($background, 75%);
  color: $text;

  .close:after {
    color: $close;
  }

  hr {
    border-top-color: shade($border, 5%);
  }
  a, .alert-link {
    color: shade($text, 10%);
    text-decoration: underline;
  }
}

.alert {
  position: relative;
  margin: 0.8rem;
  padding: 1rem;
  color: $color-gray;
  border: 1px solid transparent;

  &[data-state="is-hidden"] {
    display: none;
  }

  .close {
    float: right;
    background: none;
    line-height: 1;
    text-transform: none;
    border: 0;
    cursor: pointer;

    & > span[aria-hidden] {
      display: none;
    }
    &:after {
      position: absolute;
      right: 15px;
      @include fa-icon();
      @include fontSize(20px);
      content: $fa-var-close;
      color: $color-gray;
    }
  }

  // Headings for larger alerts
  h4 {
    @include type-body();
    margin-top: 0;
    font-weight: bold;
    // Specified for the h4 to prevent conflicts of changing $headings-color
    color: inherit;
  }
  // Provide class for links that match alerts
  a, .alert-link {
    font-weight: $alert-link-font-weight;
  }

  ul,
  ol {
    margin: 0 0 0 1.25rem;
    padding: 0;
  }

  &.alert-icon {
    padding-left: 40px;

    &:before {
      @include fa-icon();
      position: absolute;
      top: 18px;
      left: 14px;
    }
  }

  &.alert-success {
    @include messageColors($color-gray-6, $color-green-1, $color-green-4, $color-gray-4);
    &.alert-icon:before {
      content: $fa-var-check-circle;
      color: $color-green-4;
    }
  }

  &.alert-warning {
    @include messageColors($color-yellow-5, $color-yellow-1, $color-yellow-2, $color-yellow-4);
    &.alert-icon:before {
      content: $fa-var-exclamation-circle;
    }
  }

  &.alert-danger {
    @include messageColors($color-red-5, $color-red-3, $color-red-2, $color-red-4);
    &.alert-icon:before {
      content: $fa-var-exclamation-triangle;
    }
  }

  &.alert-info {
    @include messageColors($color-blue-4, $color-blue-1, $color-blue-2, $color-blue-3);
      &.alert-icon:before {
      content: $fa-var-info-circle;
    }
  }
}

