input[type="reset"].btn,
input[type="button"].btn,
input[type="submit"].btn,
input[type="file"] > input[type="button"].btn,
button.btn {
  @include appearance(none);
}

input {
  font-family: $base-font-size;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Hide inner focus effect in Firefox */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}

@mixin button-colors($bgcolor, $color: tint($bgcolor, 90%)) {
  background: $bgcolor no-repeat 100% center;
  color: $color;

  &:focus,
  &:hover {
    background-color: darken($bgcolor, 3%);
    color: $color;
    text-decoration: none;
    outline: 0;
  }
  &:active {
    background-color: darken($bgcolor, 10%);
  }
}

@mixin button() {
  display: inline-block;
  position: relative;
  @include box-sizing(border-box);
  padding: 10px 15px 9px;
  font-family: $font_light;
  font-size: $type-L;
  font-weight: 800;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  text-align: center;
  border: 0;
  cursor: pointer;
  background-image: none;
}

.btn {
  @include button();
  background: $color_button-default no-repeat 100% center;
  color: $color-gray;

  &:focus,
  &:hover {
    background-color: darken($color_button-default, 3%);
    color: $color-gray;
    text-decoration: none;
    outline: 0;
  }
  &:active {
    background-color: darken($color_button-default, 10%);
  }
}

.btn-primary {
  @include button();
  @include button-colors($color-blue);
}

.btn-secondary {
  @include button();
  @include button-colors($color-gray, $color-gray-4);
  color: $color-gray-4;

  &:focus,
  &:hover {
    background-color: #333333;
  }
  &:active {
    background-color: $color-black;
  }

  &.yellow {
    @include button-colors($color-yellow-1, $color-gray);
  }

  &.green {
    @include button-colors($color_green);
  }
}

.btn,
.btn-primary,
.btn-secondary {
  &.block {
    display: block;
    @include box-sizing(border-box);
    width: 100%;
  }

  &.continue,
  &.plus {
    text-align: left;
    padding-right: 36px;

    &:after {
      position: absolute;
      top: 10px;
      right: 15px;
      @include fa-icon();
      line-height: 1;

      .lt-ie8 & {
        display: none;
      }
    }
  }
  &.continue:after {
    font-weight: bold;
  }
}

.btn.continue:after,
.btn-primary.continue:after,
.btn-secondary.continue:after {
  content: "\f105";
  font-weight: bold;
}

.btn.plus:after,
.btn-primary.plus:after,
.btn-secondary.plus:after {
  content: $fa-var-plus;
  font-size: $type-M;
  line-height: $type-L;
}

.btn-toggle {
  font-family: $font_light;
  font-weight: 800;
  background-color: #f4f4f2;
  background-image: none;
  color: #97948b;
  border: 1px solid #97958c; // stroke
  font-size: 18px;
  letter-spacing: 0.05em;
  text-shadow: 0 1px 0 #fff;
  @include transition(all .2s ease-in-out);

  &:focus,
  &:hover {
    background-color: darken(#f4f4f2, 5%);
    text-decoration: none;
    outline: 0;
    color: darken(#97948b, 5%);
  }
  &:active {
    background-color: darken(#f4f4f2, 20%);
    color: $color_black;
  }
  &:after {
    display: none;
  }
  &[data-state="is-active"] {
    background-color: darken(#f4f4f2, 15%);
    color: $color_black;
    border: 1px solid darken(#97958c, 15%);
  }
}

.btn-center {
  text-align:center;
}

.btn-inline,
button.btn-inline,
input[type="submit"].btn-inline {
  display:inline-block;
  width:auto;
}

.btn-small {
  padding: 3px 7px;
  font-weight: normal;
  font-size: $type-M;

  &:after {
    display: none;
  }
}

/* Correct FF button padding */
@-moz-document url-prefix(http://) {
  ::-moz-focus-inner { border: 0; padding: 0; }
}

