@import "breakpoints";
@import "bourbon/bourbon";

.l-grid {
  @include display(flex);
  @include flex-flow(row wrap);
  list-style: none;
  margin: 0;
  padding: 0;
}

.g-cell {
  @include flex(1);
}

.g-flex_cells {
  & > .g-cell {
    @include display(flex);
  }
}

.g-top {
  @include align-items(flex-start);
}

.g-bottom {
  @include align-items(flex-end);
}

.g-center {
  @include align-items(center);
}

.g-v-top {
  @include justify-content(flex-start);
}

.g-v-bottom {
  @include justify-content(flex-end);
}

.g-v-center {
  @include justify-content(center);
}


.g-cell-top {
  @include align-self(flex-start);
}

.g-cell-bottom {
  @include align-self(flex-end);
}

.g-cell-center {
  @include align-self(center);
}

// Examples:
//  .g-B-full
//  .g-S--fit
//  .g-M--full
//  .g-L--1of2
//  .g-XL-1of3
//  .g-XXL-1of3
@mixin grid-sizing($name: "") {
  $sep: "-";
  @if $name == "" {
    $sep: "B-";
  }
  .g-#{$name}#{$sep}-fit > .g-cell,
  .g-cell.g-#{$name}#{$sep}-fit {
    @include flex(1);
  }
  .g-#{$name}#{$sep}-full > .g-cell,
  .g-cell.g-#{$name}#{$sep}-full {
    @include flex(0 0 100%);
  }
  .g-#{$name}#{$sep}-1of2 > .g-cell,
  .g-cell.g-#{$name}#{$sep}-1of2 {
    @include flex(0 0 50%);
  }
  .g-#{$name}#{$sep}-1of3 > .g-cell,
  .g-cell.g-#{$name}#{$sep}-1of3 {
    @include flex(0 0 33.3333%);
  }
  .g-#{$name}#{$sep}-1of4 > .g-cell,
  .g-cell.g-#{$name}#{$sep}-1of4 {
    @include flex(0 0 25%);
  }
}

// create the default grid-sizing modifiers
@include grid-sizing();

// create grid-sizing modifiers for each breakpoint
@each $breakpoint in $breakpoints {
  $name: nth($breakpoint, 2);
  @include breakpoint($name) {
    @include grid-sizing($name);
  }
}

// Examples:
//    .g-S-gutters
//    .g-M-guttersLarge
//    .g-L-gutters2x
//    .g-XXL-gutters3x
@mixin grid-gutters($name: "") {
  $sep: "-";
  @if $name == "" {
    $name: "B-";
  }
  .g-#{$name}#{$sep}gutters {
    margin-left: -0.5rem;
    & > .g-cell {
      padding-left: 0.5rem;
    }
  }
  .g-#{$name}#{$sep}guttersLarge {
    margin-left: -1rem;
    & > .g-cell {
      padding-left: 1rem;
    }
  }
  .g-#{$name}#{$sep}gutters2x {
    margin-left: -2rem;
    & > .g-cell {
      padding-left: 2rem;
    }
  }
  .g-#{$name}#{$sep}gutters3x {
    margin-left: -3rem;
    & > .g-cell {
      padding-left: 3rem;
    }
  }
}

// create the default grid-gutters modifiers
@include grid-gutters();

// create grid-gutters modifiers for each breakpoint
@each $breakpoint in $breakpoints {
  $name: nth($breakpoint, 2);
  @include breakpoint($name) {
    @include grid-gutters($name);
  }
}
