    /*////////////////////////////////////////////////////////*/
   /*//                                                    //*/
  /*//    Lists                                           //*/
 /*//                                                    //*/
/*////////////////////////////////////////////////////////*/
@import "bourbon/bourbon";
@import 'icons';

@mixin defaultList() {
  list-style: none;
  @include type-body();
  margin: 0;
  padding: 0;

  > li {
    line-height: $base-line-height;
    list-style-type: none;
    margin: 0;
    padding: 0;
    zoom: 1;
  }
}

$margin-bottom-default: 1rem;


// UNORDERED, ORDERED
ul,
ol {
  @include defaultList();
}

.l-list-bullet {
  @include defaultList();
  margin-bottom: $margin-bottom-default;

  > li {
    list-style-type: disc;
    margin-left: 1.25rem;
  }
}

.l-list-ordered {
  margin-bottom: $margin-bottom-default;

  > li {
    list-style-type: decimal;
    margin-left: 1.25rem;
    line-height: $base-line-height;
  }
}


// INLINE
.l-list-inline {
  @include defaultList();
  margin-bottom: $margin-bottom-default;

  > li {
    display: inline;
  }
}

// COMMA
.l-list-comma {
  @include defaultList();

  > li {
    &:after {
      content:', '
    }
  }
}

// MEDIA OBJECT
.l-list-media-object {
  @include display(flex);
  @include flex-flow(row wrap);
  @include align-items(flex-start);
  width: 100%;
  padding: 0.8rem;

  &:hover {
    text-decoration: none;
  }

  .figure {
    margin-right: 0.65rem;
    vertical-align: top;
    min-width: 65px;
  }

  .body {
    @include flex(1);

    .header {
      padding-top: 0;

      &.link {
        color: $color-blue;
      }
    }
  }
}

// MEDIA
.l-list-media {
  .header {
    @include type-5();
    color: $color-blue;
    font-family: $font_regular;
    font-weight: bold;
  }
  .body {
    margin: 0;
    padding-bottom: 0.25rem;
    @include fontSize($type-M);
  }
  .sub-header {
    margin: 0;
    color: $color-gray-4;
  }
  .header,
  .sub-header {
    margin: 0;
    padding-top: 0;
  }

}

// Note: Form group lists are kept in _forms.scss.


// Definition Lists
// TODO


// DETAILS
details summary::-webkit-details-marker {
  color: $color-blue;
}