    /*////////////////////////////////////////////////////////*/
   /*//                                                    //*/
  /*//    Lists                                           //*/
 /*//                                                    //*/
/*////////////////////////////////////////////////////////*/
@mixin defaultList() {
  list-style: none;
  @include type-body();
  margin: 0;
  padding: 0;

  > li {
    line-height: $base-line-height;
    list-style-type: none;
    margin: 0;
    padding: 0;
    zoom: 1;
  }
}

$margin-bottom-default: 1rem;


// UNORDERED, ORDERED
ul,
ol {
  @include defaultList();
}

.list-bullet {
  @include defaultList();
  margin-bottom: $margin-bottom-default;

  > li {
    list-style-type: disc;
    margin-left: 1.25rem;
  }
}

.list-ordered {
  margin-bottom: $margin-bottom-default;

  > li {
    list-style-type: decimal;
    margin-left: 1.25rem;
    line-height: $base-line-height;
  }
}


// INLINE
.list-inline {
  @include defaultList();
  margin-bottom: $margin-bottom-default;

  > li {
    display: inline;
  }
}

// COMMA
.list-comma {
  @include defaultList();

  > li {
    &:after {
      content:', '
    }
  }
}

// Note: Form group lists are kept in _forms.scss.


// Definition Lists
// TODO


// DETAILS
details summary::-webkit-details-marker {
  color: $color-blue;
}