/*  Typography
---------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-black;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}

h1 {
  @include type-1();
}

h2 {
  @include type-2();
}

h3 {
  @include type-3();
}

h4 {
  @include type-4();
}

h5 {
  @include type-5();
}

h6 {
  @include type-6();
}

p {
  @include type-body();
}

.small {
  @include type-small();
}

.fine-print {
  @include type-xsmall();
}

em,
i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

small {
  @include fontSize($type-XS);
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small {
  color: $color-gray-3;
}

h1 .normal,
h2 .normal,
h3 .normal,
h4 .normal,
h5 .normal {
  font-size: .8em;
}

hr {
  margin: 0.5rem 0;
  height: 1px;
  border: 1px solid $color-gray-2;
}
