// https://github.com/stubbornella/oocss/blob/master/oocss/src/components/utils/_fontSize.scss
// Function for converting a px based font-size to rem.
@function calculateRem($size) {
  $remSize: $size / $base-font-size;
  // Default font size on html element is 100%, equivalent to 16px;
  @return #{$remSize}rem;
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fontSize($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin lineHeight($size) {
  line-height: $size;
  line-height: calculateRem($size);
}

@mixin type-1 {
  font-family: $font_light;
  font-style: normal;
  font-weight: 800;
  @include fontSize($type-XXL);
  @include lineHeight($type-XXL);
  letter-spacing: 0.05rem;
  margin: calculateRem(30px) 0;
  text-transform: uppercase;
}

@mixin type-2 {
  font-family: $font_light;
  font-style: normal;
  font-weight: normal;
  @include fontSize($type-XXL);
  @include lineHeight($type-XXL);
  letter-spacing: 0.008rem;
  margin: calculateRem(30px) 0;
}

@mixin type-3 {
  font-family: $font_light;
  font-style: normal;
  font-weight: 800;
  @include fontSize($type-XL);
  @include lineHeight($type-XL);
  letter-spacing: 0.05rem;
  margin: calculateRem(20px) 0;
  text-transform: uppercase;
}

@mixin type-4 {
  font-family: $font_light;
  font-style: normal;
  font-weight: normal;
  @include fontSize($type-XL);
  @include lineHeight($type-XL);
  letter-spacing: 0.008rem;
  margin: calculateRem(20px) 0;
}

@mixin type-5 {
  font-family: $font_regular;
  font-style: normal;
  font-weight: normal;
  @include fontSize($type-L);
  @include lineHeight(35px);
  letter-spacing: 0.008rem;
  margin: calculateRem(20px) 0;
}

@mixin type-6 {
  font-family: $font_regular;
  font-style: normal;
  font-weight: bold;
  @include fontSize($type-L);
  @include lineHeight(35px);
  letter-spacing: 0.008rem;
  margin: calculateRem(20px) 0;
}

@mixin type-small {
  font-family: $font_regular;
  @include fontSize($type-L);
  @include lineHeight(17px);
  margin: 0;
}

@mixin type-body() {
  font-family: $font_regular;
  @include fontSize($type-M);
  @include lineHeight(20px);
  color: $color_base;
  margin: 1rem 0;
}

@mixin type-xsmall {
  font-family: $font_regular;
  @include fontSize($type-XS);
  @include lineHeight(18px);
  letter-spacing: 0.008rem;
  margin: 0;
}

@mixin type-label() {
  font-family: $font_light;
  font-style: normal;
  font-weight: 800;
  @include fontSize($type-S);
  @include lineHeight($type-S);
  letter-spacing: 0.008rem;
  text-transform: uppercase;
  margin: calculateRem(20px) 0 calculateRem(10px);
}

@mixin sub-section-title() {
  margin-bottom: 0;
  font-family: $font_light;
  @include fontSize($type-S + 1);
  font-weight: 600;
  letter-spacing: 0.05em;
  color: $color_gray-5;
  text-transform: uppercase;
}

.body-header {
  @include fontSize($type-L);
  margin-bottom: 10px;
  color: $color_gray-6;
}
