// Message

@mixin messageColors($text, $background, $border, $close) {
  border-color: $border;
  background-color: tint($background, 75%);

  .alert-header {
    color: $text;
  }
  .msg-body p {
    color: $text;
  }
  .close:after {
    color: $close;
  }
}

.l-message {
  position: relative;
  margin: 0.8rem;
  padding: 1rem;
  color: $color-gray;
  border: 1px solid transparent;

  &[data-state="is-hidden"] {
    display: none;
  }

  .close {
    float: right;
    margin: 0;
    padding: 0;
    background: none;
    line-height: 1;
    text-transform: none;
    border: 0;
    cursor: pointer;

    &:after {
      position: absolute;
      top: 10px;
      right: 10px;
      @include fa-icon();
      @include fontSize(20px);
      content: $fa-var-close;
      color: $color-gray;
    }
  }

  .alert-header {
    font-weight: bold;
  }

  .msg-body {
    ul,
    ol {
      margin: 0 0 0 1.25rem;
      padding: 0;
    }
  }
}

.l-message.t-success {
  @include messageColors($color-gray-6, $color-green-1, $color-green-4, $color-gray-4);
}

.l-message.t-warning {
  @include messageColors($color-yellow-5, $color-yellow-1, $color-yellow-2, $color-yellow-4);
}

.l-message.t-error {
  @include messageColors($color-red-5, $color-red-3, $color-red-2, $color-red-4);
}

.l-message.t-info {
  @include messageColors($color-blue-4, $color-blue-1, $color-blue-2, $color-blue-3);
}
