<div class="strip-top"></div>
<a class="skip" href="#main">Skip navigation</a>
<div class="canvas">
    <header class="header header-01" role="banner">
      	<div class="header-brand">
      		<figure class="logo"><a href="index.html"><img src="views/components/page/i/ncarb-logo.png" alt="NCARB Home" /></a></figure>
    	</div>
      	<ul class="header-strip">
	        <li><a href="#link">Tool name 1</a></li>
	        <li><a href="#link">Tool name 2</a></li>
	        <li><a href="#link">Tool name 3</a></li>
	        <li class="hd-login"><a href="#link">Login to MyNCARB</a></li>
      	</ul>
    </header>
    <main class="main" role="main" id="main" tabindex="1">
        <nav class="main-nav" id="nav" role="navigation">
            <ul>
              <li>
                <a href="#link" class="level-one">General stuff</a>
              </li>
              <li>
                <a href="#layout" class="level-one">Layout</a>
                <button class="level-two_toggle">Show Subnav</button>
                <ul class="level-two">
                  <li><a href="#">Sublevel nav</a></li>
                  <li><a href="#">Sublevel nav</a></li>
                  <li><a href="#">Sublevel nav</a></li>
                </ul>
              </li>
              <li>
                <a href="#color" class="level-one">Color</a>
                <button class="level-two_toggle">Show Subnav</button>
                <ul class="level-two">
                  <li><a href="#">Sublevel nav</a></li>
                  <li><a href="#">Sublevel nav</a></li>
                  <li><a href="#">Sublevel nav</a></li>
                </ul>
              </li>
              <li>
                <a href="#typography" class="level-one">Typography</a>
                <button class="level-two_toggle">Show Subnav</button>
                <ul class="level-two">
                  <li><a href="#">Sublevel nav</a></li>
                  <li><a href="#">Sublevel nav</a></li>
                  <li><a href="#">Sublevel nav</a></li>
                </ul>
              </li>
              <li>
                <a href="#iconography" class="level-one">Iconography</a>
                <button class="level-two_toggle">Show Subnav</button>
                <ul class="level-two">
                  <li><a href="#">Sublevel nav</a></li>
                  <li><a href="#">Sublevel nav</a></li>
                  <li><a href="#">Sublevel nav</a></li>
                </ul>
              </li>
              <li>
                <a href="#form_elements" class="level-one">Form Elements</a>
              </li>
              <li>
                <a href="#navigation" class="level-one">Navigation</a>
              </li>
              <li>
                <a href="#content" class="level-one">Content</a>
              </li>
            </ul>
            <ul class="other">
                <li>
                    <div class="level-one">Other Menu</div>
                    <button class="level-two_toggle">Show Subnav</button>
                    <ul class="level-two">
                        <li><a href="#link">Other sub nav</a></li>
                        <li><a href="#link">Other sub nav</a></li>
                        <li><a href="#link">Other sub nav</a></li>
                    </ul>
                </li>
                <li>
                    <div class="level-one">Other Menu</div>
                    <button class="level-two_toggle">Show Subnav</button>
                    <ul class="level-two">
                        <li><a href="#link">Other sub nav</a></li>
                        <li><a href="#link">Other sub nav</a></li>
                        <li><a href="#link">Other sub nav</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- MAIN CONTENT GOES HERE -->

    </main>
	<footer class="footer" role="contentinfo">
      	<div class="vcard">
        	<figure class="footer-logo photo"><a href="http://www.ncarb.org" class="url"><img src="views/components/page/i/ncarb-logo_w.png" alt="NCARB home" /></a></figure>
        	<ul class="org-card">
                <li>
                    <span class="org">National Council of Architectural Registration Boards</span>
                </li>
                <li>
                    <ul class="adr">
                        <li><span class="street-address">1801 K Street, NW Suite 700K</span></li>
                        <li>
                            <span class="locality">Washington</span>, 
                            <span class="region">DC</span>, 
                            <span class="postal-code">20006</span>
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="tel">
                        <span class="type">P<span class="label-hide">hone</span></span>:
                        <span class="value">202-879-0520</span>
                    </span>
                    <span class="tel">
                        <span class="type">F<span class="label-hide">ax</span></span>:
                        <span class="value">202-783-0290</span>
                    </span>
                </li>
            </ul>
      	</div>
      	<ul class="footer-links">
	          <li><a href="index.html">NCARB Home</a></li>
	          <li><a href="http://ncarb.org/en/FAQs.aspx">FAQs</a></li>
	          <li><a href="http://ncarb.org/en/Contact-Us.aspx">Contact Us</a></li>
      	</ul>
      
      	<div class="copyright">
              <p>&copy; National Council of Architectural Registration Boards</p>
              <p><a href="#link">Privacy Policy</a></p>
      	</div>
  	</footer>
</div> <!--end canvas div-->
