
<h1>Content</h1>

<section>
<h2>Imagery</h2>
<p>
  Both illustration and photography can live within the same NCARB product such as features, topics and promotions. Choose images that express personal relevance.
</p>
<p>
  Ideally, assets should retain a 1:1 or a 4:3 aspect ratio. The aspect ratio of a photographic image is the proportional relationship between its width and its height. It is expressed in width : height. Photographic images with consistent aspect ratios can easily be scaled and repurposed in various responsive layouts within NCARB.org and NCARB digital products. However, there are exceptions to features, topics and promotional images.
</p>
<div class="flex-container flex-v-center">
  <div class="flex-item flex-item-center l-img-box one-to-one">
    <span class="desc">1:1</span>
  </div>
  <div class="flex-item flex-item-center l-img-box four-to-three">
    <span class="desc">4:3</span>
  </div>
</div>

<div class="imagery">
  <div class="system-element">
    <details>
      <summary class="small header">img-homepage-feature</summary>
      <pre hljs hljs-language="html">
<img src="images/content_img-homepage-feature.png" width="700" height="327" />
      </pre>
    </details>
    <img src="images/content_img-homepage-feature.png" width="700" height="327" alt="homepage-feature" />
  </div>

  <div class="system-element">
    <details>
      <summary class="small header">img-feature</summary>
      <pre hljs hljs-language="html">
<img src="images/content_img-feature.png" width="458" height="300" />
      </pre>
    </details>
    <img src="images/content_img-feature.png" width="458" height="300" alt="feature" />
  </div>

  <div class="system-element">
    <details>
      <summary class="small header">img-avatar</summary>
      <pre hljs hljs-language="html">
<img src="images/content_img-avatar-65x65.png" width="65" height="65" />
<img src="images/content_img-avatar-80x80.png" width="80" height="80" />
      </pre>
    </details>
    <img src="images/content_img-avatar-65x65.png" width="65" height="65" alt="avatar" />
    <img src="images/content_img-avatar-80x80.png" width="80" height="80" alt="avatar" />
  </div>

  <div class="system-element">
    <details>
      <summary class="small header">img-thumbnail</summary>
      <pre hljs hljs-language="html">
<img src="images/content_img-thumbnail.png" width="54" height="54" />
      </pre>
    </details>
    <img src="images/content_img-thumbnail.png" width="54" height="54" alt="thumbnail" />
  </div>

  <div class="system-element">
    <details>
      <summary class="small header">img-topic</summary>
      <pre hljs hljs-language="html">
<img src="images/content_img-topic.png" width="220" height="150" />
      </pre>
    </details>
    <img src="images/content_img-topic.png" width="220" height="150" alt="topic" />
  </div>

  <div class="system-element">
    <details>
      <summary class="small header">img-promo</summary>
      <pre hljs hljs-language="html">
<img src="images/content_img-promo.png" width="215" height="71" />
      </pre>
    </details>
    <img src="images/content_img-promo.png" width="215" height="71" alt="promo" />
  </div>
</div>
</section>
<section>
<h2>Lists</h2>
<div class="system-element first">
  <details>
    <summary class="small header">list-ordered</summary>
    <pre hljs hljs-language="html">
<ol class="list-ordered">
<li>Item One</li>
<li>Item Two</li>
<li>Item Three</li>
<li>Item Four</li>
</ol>
    </pre>
  </details>
  <ol class="list-ordered">
    <li>Item One</li>
    <li>Item Two</li>
    <li>Item Three</li>
    <li>Item Four</li>
  </ol>
</div>

<div class="system-element">
  <details>
    <summary class="small header">list-unordered</summary>
    <pre hljs hljs-language="html">
<ul>
<li>Item One</li>
<li>Item Two</li>
<li>Item Three</li>
<li>Item Four</li>
</ul>
    </pre>
  </details>
  <ul>
    <li>Item One</li>
    <li>Item Two</li>
    <li>Item Three</li>
    <li>Item Four</li>
  </ul>
</div>

<div class="system-element">
  <details>
    <summary class="small header">list-bullet</summary>
    <pre hljs hljs-language="html">
<ul class="list-bullet">
<li>Item One</li>
<li>Item Two</li>
<li>Item Three</li>
<li>Item Four</li>
</ul>
    </pre>
  </details>
  <ul class="list-bullet">
    <li>Item One</li>
    <li>Item Two</li>
    <li>Item Three</li>
    <li>Item Four</li>
  </ul>
</div>

<div class="system-element">
  <details>
    <summary class="small header">list-media-object</summary>
    <pre hljs hljs-language="html">
<div class="list-media-object">
<img src="images/content_img-avatar-80x80.png" class="figure" alt="avatar" />
<div class="body">
<h4 class="header">Lorem ipsum dolor sit amet</h4>
<p>
Consectetur adipiscing elit, sed do eiusmod tempor
incididunt ut labore et dolore magna aliqua.
</p>
</div>
</div>
    </pre>
  </details>
  <a class="list-media-object" href="#list-media-object">
    <img src="images/content_img-avatar-80x80.png" class="figure" alt="avatar" />
    <div class="body">
      <h4 class="header link">Lorem ipsum dolor sit amet</h4>
      <p>
        Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </a>
</div>

<div class="system-element">
  <details>
    <summary class="small header">list-media</summary>
    <pre hljs hljs-language="html"></pre>
  </details>
  <dl class="list-media">
    <dt class="header">Lorem ipsum dolor sit amet</dt>
    <dd class="body">
      Consectetur adipiscing elit
    </dd>
    <dd class="sub-header">
      Sed do eiusmod tempor incididunt
    </dd>
  </dl>
  <dl class="list-media">
    <dt class="header">Lorem ipsum dolor sit amet</dt>
    <dd class="body">
      Consectetur adipiscing elit
    </dd>
    <dd class="sub-header">
      Sed do eiusmod tempor incididunt
    </dd>
  </dl>
</div>
</section>
<section>
<h2>Separators</h2>
<div class="system-element first">
  <details>
    <summary class="small header">hr</summary>
    <pre hljs hljs-language="html">
<hr />
    </pre>
  </details>
  <hr />
</div>
</section>