<h1>Typography</h1>
<h2>Fonts</h2>
<div class="fonts">
  <h4>Agenda, Light</h4>
  <p class="t-agenda-light">
    The quick brown fox jumps over the lazy dog.
  </p>
  <p>
    <a href="http://www.fonts.com/font/font-bureau/agenda" class="download font">Download Agenda Font</a>
  </p>

  <h4>Arial, Regular & Bold</h4>
  <p class="t-arial-bold">
    The quick brown fox jumps over the lazy dog.
  </p>
</div>

<h2>Standard Styles</h2>
<div class="header-styles">
  <p class="small type-header">h1</p>
  <h1>Agenda Light Bold, 36px</h1>

  <p class="small type-header">h2</p>
  <h2>Agenda Light, 36px</h2>

  <p class="small type-header">h3</p>
  <h3>Agenda Light Bold, 24px</h3>

  <p class="small type-header">h4</p>
  <h4>Agenda Light, 24px</h4>

  <p class="small type-header">h5</p>
  <h5>Arial Regular, 18px</h5>

  <p class="small type-header">h6</p>
  <h6>Arial Bold, 18px</h6>

  <p class="small type-header">label</p>
  <p>
    <label>Agenda Light Bold All Caps, 14px</label>
  </p>

  <p class="small type-header">p</p>
  <p>Arial Regular, 16px</p>

  <p id="link-element" class="small type-header">a</p>
  <p><a href="#link-element">Arial Regular, 14px</a></p>

  <p class="small type-header">.small</p>
  <p class="small">Arial Regular, 14px</p>

  <p class="small type-header">.fine-print</p>
  <p class="fine-print">Arial Regular, 12px</p>

  <p class="small type-header">h# .normal</p>
  <h4>H4 <span class="normal">Normal</span></p>
</div>

<h1 id="vertical_rhythm">Vertical Rhythm</h1>
<p>The following is an example snippet from an existing page that has been formatted using the headers defined above.</p>
<div class="page-sample">
  <h1>Licensure Matters: Change the World Your Way</h1>
  <p>
    Whether you want to start your own firm, turn your architectural vision into a reality, or simply increase your earning potential, getting licensed will put you in control of your future.
  </p>
  <h2>Path to Licensure </h2>
  <p>
    To be an architect, you need to be licensed. Architects are responsible for protecting the public health, safety, and welfare, so earning a license isn’t meant to be easy. The demanding academics, years of internship, and professional exam—it’s a path designed to prepare you for meeting the great responsibilities of the profession. If you’re going to change the world, would you want it any other way?
  </p>
  <h3>Licensure is Opportunity</h3>
  <p>
    In both good and bad economic times, licensure gives you a competitive edge. With a license you’re positioned to take on a greater role with clients and projects, which increases your value to a firm.
  </p>
  <p>
    More architects on staff can enhance a firm’s marketability with prospective clients and may even lower its liability insurance costs—two more reasons to hire <span style="text-decoration: underline;">you</span>, if you’re licensed. Licensure can also be a ticket to higher earnings, especially as you progress in your career.
  </p>
  <h3>Licensure is Empowerment</h3>
  <p>
    With a license, you are legally empowered to practice architecture. You can start your own firm; seal, stamp, or sign your own drawings; and turn your ideas into reality. As an architect, you’ll have a seat at the table and more power over your career. Without a license, you’ll nearly always have to seek out the services of an architect to complete a building project.
  </p>
  <h2>Make Your Future Count</h2>
  <p>
    Being licensed matters—especially for the people who live, work, and play in the buildings that architects create. Architects have a unique and influential role in our communities—with a license, you can play a part in shaping the future of our built world.
  </p>
  <h4>Get licensed because you want to make your future count</h4>
  <p>
      <a href="/Getting-an-Initial-License.aspx">Learn more about getting an initial license.</a>
  </p>
</div>

<!-- Headings -->
  <h2 id="type-headings">Headings</h2>
  <p>All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code>, are available. <code>.h1</code> through <code>.h6</code> classes are also available, for when you want to match the font styling of a heading but still want your text to be displayed inline.</p>
  <div class="bs-example bs-example-type" data-example-id="simple-headings">
    <table class="table">
      <tbody>
        <tr>
          <td><h1>h1. Bootstrap heading</h1></td>
          <td class="type-info">Semibold 36px</td>
        </tr>
        <tr>
          <td><h2>h2. Bootstrap heading</h2></td>
          <td class="type-info">Semibold 30px</td>
        </tr>
        <tr>
          <td><h3>h3. Bootstrap heading</h3></td>
          <td class="type-info">Semibold 24px</td>
        </tr>
        <tr>
          <td><h4>h4. Bootstrap heading</h4></td>
          <td class="type-info">Semibold 18px</td>
        </tr>
        <tr>
          <td><h5>h5. Bootstrap heading</h5></td>
          <td class="type-info">Semibold 14px</td>
        </tr>
        <tr>
          <td><h6>h6. Bootstrap heading</h6></td>
          <td class="type-info">Semibold 12px</td>
        </tr>
      </tbody>
    </table>
  </div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;h1&gt;</span>h1. Bootstrap heading<span class="nt">&lt;/h1&gt;</span>
<span class="nt">&lt;h2&gt;</span>h2. Bootstrap heading<span class="nt">&lt;/h2&gt;</span>
<span class="nt">&lt;h3&gt;</span>h3. Bootstrap heading<span class="nt">&lt;/h3&gt;</span>
<span class="nt">&lt;h4&gt;</span>h4. Bootstrap heading<span class="nt">&lt;/h4&gt;</span>
<span class="nt">&lt;h5&gt;</span>h5. Bootstrap heading<span class="nt">&lt;/h5&gt;</span>
<span class="nt">&lt;h6&gt;</span>h6. Bootstrap heading<span class="nt">&lt;/h6&gt;</span></code></pre></div>

  <p>Create lighter, secondary text in any heading with a generic <code>&lt;small&gt;</code> tag or the <code>.small</code> class.</p>
  <div class="bs-example bs-example-type" data-example-id="small-headings">
    <table class="table">
      <tbody>
        <tr>
          <td><h1>h1. Bootstrap heading <small>Secondary text</small></h1></td>
        </tr>
        <tr>
          <td><h2>h2. Bootstrap heading <small>Secondary text</small></h2></td>
        </tr>
        <tr>
          <td><h3>h3. Bootstrap heading <small>Secondary text</small></h3></td>
        </tr>
        <tr>
          <td><h4>h4. Bootstrap heading <small>Secondary text</small></h4></td>
        </tr>
        <tr>
          <td><h5>h5. Bootstrap heading <small>Secondary text</small></h5></td>
        </tr>
        <tr>
          <td><h6>h6. Bootstrap heading <small>Secondary text</small></h6></td>
        </tr>
      </tbody>
    </table>
  </div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;h1&gt;</span>h1. Bootstrap heading <span class="nt">&lt;small&gt;</span>Secondary text<span class="nt">&lt;/small&gt;&lt;/h1&gt;</span>
<span class="nt">&lt;h2&gt;</span>h2. Bootstrap heading <span class="nt">&lt;small&gt;</span>Secondary text<span class="nt">&lt;/small&gt;&lt;/h2&gt;</span>
<span class="nt">&lt;h3&gt;</span>h3. Bootstrap heading <span class="nt">&lt;small&gt;</span>Secondary text<span class="nt">&lt;/small&gt;&lt;/h3&gt;</span>
<span class="nt">&lt;h4&gt;</span>h4. Bootstrap heading <span class="nt">&lt;small&gt;</span>Secondary text<span class="nt">&lt;/small&gt;&lt;/h4&gt;</span>
<span class="nt">&lt;h5&gt;</span>h5. Bootstrap heading <span class="nt">&lt;small&gt;</span>Secondary text<span class="nt">&lt;/small&gt;&lt;/h5&gt;</span>
<span class="nt">&lt;h6&gt;</span>h6. Bootstrap heading <span class="nt">&lt;small&gt;</span>Secondary text<span class="nt">&lt;/small&gt;&lt;/h6&gt;</span></code></pre></div>


  <!-- Body copy -->
  <h2 id="type-body-copy">Body copy</h2>
  <p>Bootstrap's global default <code>font-size</code> is <strong>14px</strong>, with a <code>line-height</code> of <strong>1.428</strong>. This is applied to the <code>&lt;body&gt;</code> and all paragraphs. In addition, <code>&lt;p&gt;</code> (paragraphs) receive a bottom margin of half their computed line-height (10px by default).</p>
  <div class="bs-example" data-example-id="body-copy">
    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
  </div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;p&gt;</span>...<span class="nt">&lt;/p&gt;</span></code></pre></div>

  <!-- Body copy .lead -->
  <h3>Lead body copy</h3>
  <p>Make a paragraph stand out by adding <code>.lead</code>.</p>
  <div class="bs-example" data-example-id="lead-copy">
    <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
  </div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"lead"</span><span class="nt">&gt;</span>...<span class="nt">&lt;/p&gt;</span></code></pre></div>