<div class="flex-container">
  <div class="flex-item flex-1of2">
    <h1>Typography</h1>
  </div>
  <div class="flex-item flex-1of2">
    <nav class="subpage">
      <ul class="nav nav-sub">
        <li role="presentation"><a href="#">Headings</a></li>
        <li role="presentation"><a href="#">Body Copy</a></li>
        <li role="presentation"><a href="#">Vertical Rhythm</a></li>
        <li role="presentation"><a href="#">Lists</a></li>
      </ul>
    </nav>
  </div>
</div>
<h2>Headings</h2>
<table class="table">
  <tbody>
    <tr>
      <td scope="row"><h1 class="nomargin">H1</h1></th>
      <td><h1 class="nomargin">36px</h1></td>
      <td><h1 class="nomargin">Agenda Light Bold</h1></td>
    </tr>
    <tr>
      <td scope="row"><h2 class="nomargin">H2</h2></td>
      <td><h2 class="nomargin">24px</h2></td>
      <td><h2 class="nomargin">Agenda Light</h2></td>
    </tr>
    <tr>
      <td scope="row"><h3 class="nomargin">H3</h3></td>
      <td><h3 class="nomargin">20px</h3></td>
      <td><h3 class="nomargin">Agenda Light</h3></td>
    </tr>
    <tr>
      <td scope="row"><h4 class="nomargin">H4</h4></td>
      <td><h4 class="nomargin">16px</h4></td>
      <td><h4 class="nomargin">Agenda Light Bold</h4></td>
    </tr>
    <tr>
      <td scope="row"><h5 class="nomargin">H5</h5></td>
      <td><h5 class="nomargin">16px</h5></td>
      <td><h5 class="nomargin">Agenda Light Italic</h5></td>
    </tr>
    <tr>
      <td scope="row"><h6 class="nomargin">H6</h6></td>
      <td><h6 class="nomargin">14px</h6></td>
      <td><h6 class="nomargin">Agenda Light Bold</h6></td>
    </tr>
  </tbody>
</table>


<h2>Body Copy</h2>
<p>NCARB uses a <code>font-family</code> of <b>"Agenda Light"</b> with a <code>font-size</code> of <b>16px</b>. The default <code>color</code> is <b>#444</b> There are some variations for when you need to make things smaller, or even really smaller.</p>
<table class="table">
  <tbody>
    <tr>
      <td scope="row"><p class="nomargin">p</h1></th>
      <td><p class="nomargin">Body content / copy</p></td>
      <td><p class="nomargin">16px</p></td>
      <td><p class="nomargin">Agenda Light</p></td>
    </tr>
    <tr>
      <td scope="row"><p class="nomargin small">.small</h1></th>
      <td><p class="nomargin small">To de-emphasize text in the body</p></td>
      <td><p class="nomargin small">14px</p></td>
      <td><p class="nomargin small">Agenda Light</p></td>
    </tr>
    <tr>
      <td scope="row"><p class="nomargin fine-print">.fine-print</h1></th>
      <td><p class="nomargin fine-print">Body content / copy</p></td>
      <td><p class="nomargin fine-print">12px</p></td>
      <td><p class="nomargin fine-print">Agenda Light</p></td>
    </tr>
  </tbody>
</table>

<h2>Verticle Rhythm</h2>
<p>The following is an example snippet from an existing page that has been formatted using the headers defined above.</p>
<div class="flex-container">
  <div class="flex-item flex-sm-show flex-1of12"></div>
  <div class="page-sample flex-full flex-sm-5of6">
    <h1>Licensure Matters: Change the World Your Way</h1>
    <p>
      Whether you want to start your own firm, turn your architectural vision into a reality, or simply increase your earning potential, getting licensed will put you in control of your future.
    </p>
    <h2>Path to Licensure </h2>
    <p>
      To be an architect, you need to be licensed. Architects are responsible for protecting the public health, safety, and welfare, so earning a license isn’t meant to be easy. The demanding academics, years of internship, and professional exam—it’s a path designed to prepare you for meeting the great responsibilities of the profession. If you’re going to change the world, would you want it any other way?
    </p>
    <h3>Licensure is Opportunity</h3>
    <p>
      In both good and bad economic times, licensure gives you a competitive edge. With a license you’re positioned to take on a greater role with clients and projects, which increases your value to a firm.
    </p>
    <p>
      More architects on staff can enhance a firm’s marketability with prospective clients and may even lower its liability insurance costs—two more reasons to hire <span style="text-decoration: underline;">you</span>, if you’re licensed. Licensure can also be a ticket to higher earnings, especially as you progress in your career.
    </p>
    <h3>Licensure is Empowerment</h3>
    <p>
      With a license, you are legally empowered to practice architecture. You can start your own firm; seal, stamp, or sign your own drawings; and turn your ideas into reality. As an architect, you’ll have a seat at the table and more power over your career. Without a license, you’ll nearly always have to seek out the services of an architect to complete a building project.
    </p>
    <h2>Make Your Future Count</h2>
    <p>
      Being licensed matters—especially for the people who live, work, and play in the buildings that architects create. Architects have a unique and influential role in our communities—with a license, you can play a part in shaping the future of our built world.
    </p>
    <h4>Get licensed because you want to make your future count</h4>
    <p>
        <a href="/Getting-an-Initial-License.aspx">Learn more about getting an initial license.</a>
    </p>
  </div>
  <div class="flex-item flex-hide flex-sm-show flex-1of12"></div>
</div>

<h2>Lists</h2>
<div class="system-element first">
  <details>
    <summary class="small header">list-ordered</summary>
    <pre hljs hljs-language="html">
<ol class="list-ordered">
  <li>Item One</li>
  <li>Item Two</li>
  <li>Item Three</li>
  <li>Item Four</li>
</ol>
    </pre>
  </details>
  <ol class="list-ordered">
    <li>Item One</li>
    <li>Item Two</li>
    <li>Item Three</li>
    <li>Item Four</li>
  </ol>
</div>

<div class="system-element">
  <details>
    <summary class="small header">list-unordered</summary>
    <pre hljs hljs-language="html">
<ul>
  <li>Item One</li>
  <li>Item Two</li>
  <li>Item Three</li>
  <li>Item Four</li>
</ul>
    </pre>
  </details>
  <ul>
    <li>Item One</li>
    <li>Item Two</li>
    <li>Item Three</li>
    <li>Item Four</li>
  </ul>
</div>

<div class="system-element">
  <details>
    <summary class="small header">list-bullet</summary>
    <pre hljs hljs-language="html">
<ul class="list-bullet">
  <li>Item One</li>
  <li>Item Two</li>
  <li>Item Three</li>
  <li>Item Four</li>
</ul>
    </pre>
  </details>
  <ul class="list-bullet">
    <li>Item One</li>
    <li>Item Two</li>
    <li>Item Three</li>
    <li>Item Four</li>
  </ul>
</div>

